<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

     <!-- font awesome-->
    <script src="https://kit.fontawesome.com/4e48c37e28.js" crossorigin="anonymous"></script>

    <!-- google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet"> 

</head>
<body>
    <nav>
        <h1><%= user.userName %>'s Todo Page</h1>
        <a href="/logout" class="logOutButton">Logout</a>
    </nav>
    <main class="mainSection">
        <h2><%= user.userName %> has <span class="itemsLeft"><%= left %> </span>things left to do.</h2>
    
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
            
                <span class=' todoItem <%= el.completed === true ? 'completed' : 'not'%>'><input type="checkbox"><%= el.todo %></span>

                <button class='del'> <i class="fa-regular fa-trash-can"></i></button>
            </li>
    <% }) %>    
    </ul>
    </main>

    

    <form action="/todos/createTodo" method='POST'>

        <button type="submit"><i class="fa-solid fa-circle-plus"></i></button> 
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>

    </form>

    

    <script src="js/main.js"></script>
</body>
</html>